.cards{
    background-color: var(--color-cards);
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 1.5rem;
}

.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: var(--color-card);
    flex-wrap: wrap;
    padding: 1rem;

}

.card-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.done {
    opacity: 0.5;

}
