:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-bg: #c7c7d1;
  --color-cards: #EDEDF7;
  --color-card: #fff;
  --color-input: #fff;
  --color-btn-primary: #646FEF;
  --color-btn-primary-hover: #3b47cb;
  --color-btn-secondary: #707070;
  --color-btn-secondary-hover: #4a4a4a;

}

a {
  font-weight: 500;
  color: var(--color-btn-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-btn-primary-hover);
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-bg);
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #515151;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: #515151;
}

.btn-secondary{
  background-color: var(--color-btn-secondary);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-btn-primary);
  color: white;
  cursor: pointer;
  width: 7.3rem;
}
button:hover {
  background-color: var(--color-btn-primary-hover);
}
button:active{
  scale: 95%;
}

.btn-secondary:hover{
  background-color: var(--color-btn-secondary-hover);
}

.btn-secondary:active{
  scale: 95%;
}


